<div class="Statistics">
  <h1>Statistics</h1>
  <div class="average_age">
    <h2>Average Age</h2>
    <h3><%= @comedians_specials.average_age %> Years Old </h3>
  </div>
  <div class="average_time_length">
    <h2>Average Run Time Length</h2>
    <h3><%= @comedians_specials.specials.time_length_average %> minutes</h3>
  </div>
  <div class="sum_of_all_tv_specials">
    <h2>Number of specials</h2>
    <h3><%= @comedians_specials.specials.all.count %></h3>
  </div>

</div>

<% @comedians.each do |comedian| %>

<div class="individual_comedian">
  <div class="comedian_attr">
    <ul>
      <li><%= comedian.name %></li>
      <li><%= comedian.age %></li>
      <li><%= comedian.city %></li>
      <% comedian.specials.each do |special| %>
      <div class="special_attr">
        <ul>
          <li><%= special.name %></li>
          <li><%=  special.year %> </li>
          <li> <img src="<%= special.image_url %>" alt="#{<%= special.name %>}"> </li>
          <li><%= special.run_time_length %> minutes</li>
        </ul>
      </div>
      <% end %>
    </ul>
  </div>
</div>
<% end %>
